<div class="card text-center">
  <div class="card-header">
      <div style="text-align:center">
    <img width="200" alt="Angular Logo" src="/assets/venue-nightlife-omnia-logo.png">
  </div>
  </div>
  <div class="card-body">
    <form>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <input [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
      </div>

      <div class="form-group">
        <input [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Phone Number">
      </div>

      <div class="form-group">
        <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Email Address">
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col-7">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input [(ngModel)]="minimum" [ngModelOptions]="{standalone: true}" type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)"
                placeholder="Minimum">
            </div>
          </div>
          <div class="col">
            <input [(ngModel)]="guests" [ngModelOptions]="{standalone: true}" type="number" class="form-control" placeholder="Guests">
          </div>
        </div>
      </div>

      <div class="form-group">
        <input [(ngModel)]="event" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Event Name">
      </div>

      <button (click)="pushReservation()" type="submit" class="submitBtn btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">SUBMIT</button>
    </form>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
